/HotCold/.vs/HotCold/v15/Server/sqlite3/db.lock
/HotCold/.vs/HotCold/v15/Server/sqlite3/storage.ide
/HotCold/.vs/HotCold/v15/Server/sqlite3/storage.ide-shm
/HotCold/.vs/HotCold/v15/Server/sqlite3/storage.ide-wal
/HotCold/.vs/HotCold/v15/.suo
